<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Goodlyfe landing</title>
	<link rel="stylesheet" href="../styles/css/reset.css">
	<link rel="stylesheet" href="../styles/css/pages/style.css">
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="header__blocks">
				<div class="header__left__block">
					<img src="../styles/images/icons/logo.svg" alt="Goodlife header logo">
				</div>
				<div class="header__center__block">
					<nav class="header__menu">
						<ul class="header__list__menu">
							<li class="header__item__menu">
								<a href="/" class="header__link__menu">Classess</a>
							</li>
							<li class="header__item__menu">
								<a href="/" class="header__link__menu">Timetable</a>
							</li>
							<li class="header__item__menu">
								<a href="/" class="header__link__menu">Clubs</a>
							</li>
							<li class="header__item__menu">
								<a href="/" class="header__link__menu">Nutrition</a>
							</li>
							<li class="header__item__menu">
								<a href="/" class="header__link__menu">Free Triel</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="header__right__block">
					<div class="list__buttons">
						<button class="search__button">
							<span class="search__button__text">Search</span>
							<span class="search__button__icon">
								<img src="../styles/images/icons/search.svg" alt="search icon">
							</span>
						</button>
						<button class="login__button">Login</button>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main class="main">
		<section class="main__section">
			<div class="container">
				<div class="main__section__text">
					<h1 class="main__section__title">Welcome to Good<span>lyfe</span> Gyms</h1>
					<button class="main__section__button">See the benefits</button>
				</div>
			</div>
		</section>
		<section class="meet__new">
			<div class="container">
				<div class="meet__blocks">
					<div class="meet_left__block">
						<img src="../styles/images/jpg/block2-image1.jpg" alt="" class="meet__left__image__one">
						<img src="../styles/images/jpg/block2-image2.jpg" alt="" class="meet__left__image__two">
					</div>
					<div class="meet_right__block">
						<h2 class="meet__block__title">Meet your new body</h2>
						<div class="meet__block__description">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget lectus urna. Nulla magna tortor, bibendum in molestie sed, gravida nec felis. Sed id egestasegestas risus, ut imperdiet augue.</p>
						</div>
						<button class='meet__button'>View the FAQ</button>
					</div>
				</div>
			</div>
		</section>
		<section class="more__are">
			<div class="container">
				<div class="more__are__text">
					<h2 class="more__are__title">Become more than you are.</h2>
					<div class="more__are__description">
						<p>
							Staying active is great fun and keeps you healthy. 
							Check out how you can join in.</p>
					</div>
					<button class="more__are__button">
						Let’s do it!
					</button>
				</div>
			</div>
		</section>
		<section class="premium__facilities">
			<div class="container">
				<div class="premium__facilities__blocks">
					<div class="premium__facilities__left__block">
						<h2 class="premium__facilities__title">Premium Facilities</h2>
						<div class="premium__facilities__description">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget lectus urna. Nulla magna tortor, bibendum in molestie sed, gravida nec felis. Sed id egestasegestas risus, ut imperdiet augue.</p>
						</div>
						<button class="premium__facilities__button">Learn more</button>
					</div>
					<div class="premium__facilities__right__block">
						<img src="../styles/images/jpg/block4-image1.jpg" alt="" class="premium__facilities__image__one">
						<img src="../styles/images/jpg/block4-image2.jpg" alt="" class="premium__facilities__image__two">
					</div>
				</div>
			</div>
		</section>
	</main>
</body>
</html>